# 데이터 타입

## 기본 자료형 
#### :  통상적으로 정수(int), 실수(float), 문자열(str) , boolean
#### int  : integer의 약자로서 정수
#### float : 부동 소수점(실수) 의미
#### str : string 약자로 문자열, 문자열은 따옴표 사용
#### bool : boolean  식에 대하여 참과 거짓을 판단

#### 1) 데이터 타입을 확인

In [1]:
# type이라는 내장 함수 사용

In [2]:
# 정수
type(100)

int

In [3]:
# 실수
type(100.5)

float

In [4]:
# 문자형은 따옴표로 ('') , ("")  작은따옴표, 큰 따옴표 불문
type("한국대학교")

str

In [5]:
#문자형
a = "한국대학교 컴퓨터공학과"
type(a)

str

In [6]:
# boolean  식에 대하여 참과 거짓을 판단
x=5>2
x

True

In [7]:
# # boolean  식에 대하여 참과 거짓을 판단
y=5<2
y

False

In [8]:
##문자열 따옴표를 출력하기¶
#파이썬에서 두 가지 종류(큰, 작은)의  쓸 수 있는 것운 문자열이 따옴표를 포함하는 경우가 있기 때문이다. 
#만약 따옴표로 둘러싸인 문자열에 따옴표가 포함되어 있다면 파이썬은 그 부분에서 문자열이 끝난다고 인식하여 오류가 발생 
# ==> 문자열 안에 따옴표는 필요한 경우 큰따옴표, 작은따옴표 따로 작성

In [9]:
print('학교앞에서 누군가가  "금융정보과 학생여러분! 화이팅하세요" 라고 외치고 있었다')

학교앞에서 누군가가  "금융정보과 학생여러분! 화이팅하세요" 라고 외치고 있었다

#### 2) 문자열 치환

In [10]:
# 문자열에서 특정 문자를 다른 문자로 바꾸려면 replace 메서드 사용

In [11]:
"2021.10.17".replace(".", "-")

'2021-10-17'

#### 3) 문자열의 길이 확인

In [12]:
# len : 길이 확인
loc="seoul"
len(loc)

5

#### 4) 문자 중 인덱스 찾기

In [13]:
## index[ ] 
#인덱스 2를 찾아보기
# 인덱스는 0 부터 시작

loc="seoul" 
loc[0]

's'

#### 5) 문자 중 일부 잘라내기(slice)

In [14]:
## slice[:] 
# : 숫자사이에 있는 경우는 구간으로 이해

loc="seoul" 
loc[0:4]

'seou'

In [15]:
loc="seoul" 
loc[1:4]

'eou'

In [16]:
## slice[:] 
# : 숫자 다음에 있는 경우는 해당 인덱스 부터 출력
loc="seoul"
loc[3:]

'ul'

#  파이썬 연속 데이터 구조

In [17]:
# 데이터가 여러 개 있을 때 효과적으로 관리하는 데 사용되는 자료구조
# 대표적으로 가장 많이 사용되는 리스트(list), 튜플(tuple), 사전(dict), 집합(set)

####리스트(list), 튜플(tuple), 사전(dict), 집합(set)

## 리스트(List)

In [18]:
# 파이썬에서 변수가 어떤 값을 바인딩하고 있는 경우
# 프롬프트 상에서 변수명을 입력한 후 엔터 키를 누르면 해당 변수가 가리키는 값이 반환

In [19]:
a= "삼성전자"
a

'삼성전자'

In [20]:
b= "LG엔솔"
b

'LG엔솔'

In [21]:
c= "sk하이닉스"
c

'sk하이닉스'

### 리스트

In [22]:
# 파이썬에서는 리스트(list) 이용하면 여러 데이터를 한 번에 저장 가능--> 변수명을 여러 개 사용할 필요가 없다.
# 여러 데이터를 리스트에 담으려면 대괄호'[]' 사이에 데이터를 쉼표로 구분해서 넣으면 됨.
# 리스트 :  대괄호'[] 로 요소를 기입한다.  튜플 : 소괄호() , 디셔너리 : 중괄호{}

In [23]:
mystock = ["삼성전자", "LG엔솔", "sk하이닉스"]

In [24]:
mystock

['삼성전자', 'LG엔솔', 'sk하이닉스']

In [25]:
# 인덱싱으로 원하는 데이터 만 가죠오기
# [0], [1], [2]라는 인덱스 값을 통해 리스트에 있는 원하는 데이터를 언을 수 있음

In [26]:
mystock[0]

'삼성전자'

In [27]:
mystock[2]

'sk하이닉스'

In [28]:
mystock = ["삼성전자", "LG엔솔", "sk하이닉스"]
mystock.append("카카오")
mystock

['삼성전자', 'LG엔솔', 'sk하이닉스', '카카오']

In [29]:
del mystock [2] 
mystock

['삼성전자', 'LG엔솔', '카카오']

In [30]:
## 리스트값에 추가 append( ) 
number=['one','two','three','four'] 
number.append('five') 
print(number)

['one', 'two', 'three', 'four', 'five']

In [31]:
## 리스트값 중 일부 삭제 del 
number=['one','two','three','four'] 
del number[2] 
print(number)

['one', 'two', 'four']

In [32]:
## 2개의 리스트를 병합하는 경우 extend( ) 
number1=['one','two','three','four'] 
number2=['six','seven','eight','nine'] 
number1.extend(number2) 
print(number1)

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine']

In [33]:
## 2개의 리스트를 병합하는 경우.순서가 반대 extend( ) 
number1=['one','two','three','four']
number2=['six','seven','eight','nine'] 
number2.extend(number1) 
print(number2)

['six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [34]:
number1.extend(number2) 
print(number1)

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [35]:
## 정렬하기 sort( ) 는 알파벳순서로 정렬하기 
number=['one','two','three','four'] 
number.sort() 
print(number)

['four', 'one', 'three', 'two']

In [36]:
## 정렬하기 sorted( ) 
number=['one','two','three','four'] 
newnumber=sorted(number) 
print(newnumber)

['four', 'one', 'three', 'two']

In [37]:
## 정렬하기 sorted( ) 
number=['one','two','three','four'] 
newnumber=sorted(number) 
print(newnumber) 
print(number)

['four', 'one', 'three', 'two']
['one', 'two', 'three', 'four']

In [38]:
## sort(reverse=True) 
number=[1,2,3,4] 
number.sort(reverse=True) 
print(number)

[4, 3, 2, 1]

In [39]:
##리스트 항목개수 확인  len( ) 
number=['one','two','three','four'] 
len(number)

4

###  list 데이터 구조 활용

In [40]:
# 리스트 활용 :  여러 개의 데이터를 ‘순서대로’ 저장하고 이를 관리해야 하는 경우

In [41]:
# 리스트 생성
sec = [55300, 55800, 56400, 56200, 56000]

In [42]:
# 리스트 안에있는 값들의 합
result = sum(sec)

In [43]:
print(result)

279700

### 통계 기초

In [44]:
# 중심경향치(central tendency measures)?
# 자료의 중심을 나타내는 숫자
# 자료 전체를 대표
# 평균, 중간값, 최빈값 등

#### 1) 중심경향치

#### 1) 리스트 데이터 평균

In [45]:
# numpy를 이용
import numpy
# 아래 리스트 데이터 : 리스트데이터는 대괄호로 , 변수 설정(데이터를 담다)
b = [100, 200, 400, 500,600,700,800,900,1000]
numpy.mean(b)

577.7777777777778

In [46]:
# 이상치 영향
# 데이터 전처리 과정에서 반드시 체크해야 함.
# numpy.mean(변수명)으로 계산 가능

b_1 = [100, 200, 400, 500,600,700,800,900,1000, 10000000]
numpy.mean(b_1)

1000520.0

#### 2) 리스트 데이터 중앙값

In [47]:
# 중간값(median): 자료를 크기 순으로 정렬했을 때 정 가운데에 있는 값
# '중앙값' 또는 '중위수'
# numpy.median(변수명)으로 계산 가능
# 서열척도/등간척도/비율척도에서 쓸 수 있다. 명명척도 사용 불가

In [48]:
# 인자 숫자가 짝수인 경우

c=[1,2,3,4,5,6,7,8,9,10]
numpy.median(c)

5.5

In [49]:
# 인자 숫자가 홀수인 경우

c=[1,2,3,4,5,6,7,8,9,10,11]
numpy.median(c)

6.0

In [50]:
# 이상치 영향이 평균 값보다 적다.

c_1=[1,2,3,4,5,6,7,8,9,10,1000]
numpy.median(c_1)

6.0

#### 3) 최빈도 (mode)

In [51]:
# 최빈값(mode): 가장 빈번하게 관찰/측정되는 값

In [52]:
from scipy.stats import mode

d=[1,2,2,3,5,5,5,5,10,1000]
mode(d)

ModeResult(mode=array([5]), count=array([4]))

In [53]:
e=[1,2,2,3,4,4,4,4,7,7,7,7,7,7,10,1000]
mode(e)

ModeResult(mode=array([7]), count=array([6]))

### 2. 분산도

In [54]:
# 범위, 분산(표준편차), 사분위간 범위
# 데이터가 흩어져 있는 정도

#### 1) 범위 (range)

In [55]:
# 대상 데티어의  최대값과 최소값 사이의 거리
# 범위 계산 = 최댓값 - 최솟값

In [56]:
b = [100, 200, 400, 500,600,700,800,900,1000]
import numpy

# 최대값에서 최소값을 차감하여 계산'
#최댓값:
numpy.max(b)
# 최소값
numpy.min(b)

# 범위:
numpy.max(b) - numpy.min(b)

900

#### 2) 분산

In [57]:
# 평균에서 데이터가 벗어난 정도를 수치화한 값
# 편차의 제곱 합에 대한 평균 개념

In [58]:
# 분산값 확인
numpy.var(b)

83950.61728395062

#### 3) 표준편차

In [59]:
# 분산값을 제곱근한 값
# numpy.std(변수명)

In [60]:
# 표준편차 확인
numpy.std(b)

289.74232912011774

In [61]:
# 표준편차는 분산의 제곱근하여도 무방

numpy.sqrt(numpy.var(b))

289.74232912011774

#### 4) 사분위간 범위

In [62]:
# 사분위간 범위(IQR, InterQuartile Range)는 제3사분위수에서 제1사분위수 간의 범위
# 사분위수란 전체 데이터를 작은 값부터 큰 값까지 순서대로 나열한 후 4등분 하였을 때, 각 지점에 해당하는 값

# 제1사분위수(Q1): 25% 지점
# 제2사분위수(Q2): 50% 지점
# 제3사분위수(Q3): 75%
# 제1사분위수와 제3사분위수 사이의 구간에는 항상 전체 데이터의 50%가 포함 됨

In [63]:
# 제1사분위수

numpy.quantile(b, 0.25)

400.0

In [64]:
# 제2사분위수(50% 지점)
# 중간값:

numpy.quantile(b, 0.5)

600.0

In [65]:
numpy.median(b)

600.0

In [66]:
# 제3사분위수(75% 지점)

numpy.quantile(b, 0.75)

800.0

In [67]:
# 사분위간 범위(Q3 - Q1):

numpy.quantile(b, 0.75) - numpy.quantile(b, 0.25)

400.0

#### 사례 : 평균 구하기

In [68]:
# 평균 구하기
# 첫번째 방법
print(f"average : {result / len(sec)}")

average : 55940.0

In [69]:
# 두번째 방법
import numpy

# 평균 구하기
average = numpy.mean(sec)
print(average)

55940.0

In [70]:
# 세번째 : 파이썬  statiscics 라이브러리를 이용
import statistics

# 평균 구하기
result1 = statistics.mean(sec)
# 출력
print(f"average1 : {result1}")

average1 : 55940

### 4)  리스트 인덱싱

In [71]:
# 리스트의 인덱스 값을 통해 리스트가 가리키는 값에 접근
# 리스트에 있는 데이터에 한개씩 접근할 때는 인덱싱 사용
# 리스트의 인덱싱은 문자열 인덱싱과 동일
sec = [55300, 55800, 56400, 56200, 56000]
sec[0]

55300

In [72]:
# 리스트 5번째 값
sec[4]

56000

In [73]:
# 리스트를 인덱싱할 때 [-1]은 리스트의 데이터 중 맨 마지막에 있는 데이터

In [74]:
# 리스트 맨 끝값
sec[-1]

56000

In [75]:
# 리스트 뒤에서 2번째 값
sec[-2]

56200

### 5) 리스트 슬라이싱

In [76]:
#  리스트에 있는 여러 개의 데이터에 동시에 접근 하는 경우 슬라이싱 이용 
# 리스트의 슬라이싱은 문자열 슬라이싱과 동일

In [77]:
kospi_top7 =['삼성전자','LG엔솔','SK하이닉스','삼바', 'LG화학','현대차','NAVER']

In [78]:
print(kospi_top7)

['삼성전자', 'LG엔솔', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER']

In [79]:
# 리스트 5번째 값 확인
print( kospi_top7[4])

LG화학

In [80]:
# 첫번째 종목에서 3개만 갖고 오기
kospi_top3 = kospi_top7[0:3]

In [81]:
print(kospi_top3)

['삼성전자', 'LG엔솔', 'SK하이닉스']

In [82]:
# 첫번째 종목에서 5개만 갖고 오기
kospi_top3 = kospi_top7[0:5]
print(kospi_top3)

['삼성전자', 'LG엔솔', 'SK하이닉스', '삼바', 'LG화학']

In [83]:
# 3번째 값부터 끝까지
kospi_top7[3:]

['삼바', 'LG화학', '현대차', 'NAVER']

In [84]:
# 3번째부터 4번째 값 확인
kospi_top7[3:5]

['삼바', 'LG화학']

### 6) 리스트에 데이터 추가

In [85]:
# 리스트에 데이터 추가
# 기존 리스트에 새로운 데이터를 추가 : append 메서드 사용 ( 이 경우 데이터 맨 뒷줄에 추가)

In [86]:
kospi_top7 =['삼성전자','LG엔솔','SK하이닉스','삼바', 'LG화학','현대차','NAVER']
kospi_top7.append('SK텔레콤')

In [87]:
kospi_top7

['삼성전자', 'LG엔솔', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER', 'SK텔레콤']

In [88]:
# 위의 경우 추가된 리스트를 새롭게 명명하는게 적절
kospi_top8 = kospi_top7
kospi_top8

['삼성전자', 'LG엔솔', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER', 'SK텔레콤']

In [89]:
# 리스트에 데이터를 사용자가 원하는 특정 위치에 추가 
# insert 메서드를 사용

In [90]:
# 카카오 문자열 리스트 2번째 자리에 삽입
kospi_top8.insert(2, '카카오')

In [91]:
kospi_top9=kospi_top8

In [92]:
kospi_top9

['삼성전자', 'LG엔솔', '카카오', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER', 'SK텔레콤']

### 7) 리스트에 데이터 삭제

In [93]:
# 리스트 마지막 데이터를 삭제하기 위해 del 사용 
# 이때 한 가지 주의할 점은 del 다음에 빈칸을 주고 그다음에 삭제할 데이터를 입력해야 한다

In [94]:
kospi_top9[-1]

'SK텔레콤'

In [95]:
# SK텔레콤 데이터 삭제
del kospi_top9[-1]

In [96]:
# 결과확인
>>> kospi_top9

['삼성전자', 'LG엔솔', '카카오', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER']

In [97]:
len(kospi_top9)

8

## 튜플(tuple)

### 튜플 이해?

In [98]:
# 튜플과 리스트 차이 :  리스트는 리스트 내의 원소를 변경할 수 있지만 튜플은 변경할 수 없다. 
# 리스트는 대괄호'[]' 사용, 튜플은 소괄호'()' 사용 
# 튜플은 리스트보다 속도가 빠르다는 장점 ; 데이터 수정이 필요 없는 경우는 리스트보다는 튜플을 사용하는 것이 효율적

In [99]:
kospi_top =('삼성전자','LG엔솔','SK하이닉스','삼바', 'LG화학','현대차','NAVER')

In [100]:
kospi_top

('삼성전자', 'LG엔솔', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER')

###  튜플 데이터 확인

In [101]:
# 갯수 확인
len(kospi_top)

7

In [102]:
kospi_top[0]

'삼성전자'

In [103]:
kospi_top[-1]

'NAVER'

In [104]:
kospi_top[-2]

'현대차'

### 튜플 슬라이싱

In [105]:
# 튜플도 리스트와 동일하게 슬라이싱 가능

In [106]:
# 시작 인덱스와 끝 인덱스를 지정
kospi_top[0:2]

('삼성전자', 'LG엔솔')

## 딕셔너리(dictionary)

### 딕셔너리(dictionary) 이해

In [107]:
# 딕셔너리도 키(key)와 값(value)이라는 것을 쌍으로 저장함으로써 더 쉽게 저장된 값을 찾을 수 있는 구조
# 딕셔너리는 중괄호 '{}' 기호 사용
# 요소가 여러개인 경우 콤마(,)로 구분
# 딕셔너리는 리스트와 튜플과 달리 인덱싱을 지원 않음.
# 사례 : 주식종목 : 주가

In [108]:
sec_price = {}

In [109]:
type(sec_price)

dict

In [110]:
sec_price['삼성전자'] = 58000

In [111]:
sec_price

{'삼성전자': 58000}

In [112]:
sec_price['sk하이닉스'] = 80000

In [113]:
sec_price

{'삼성전자': 58000, 'sk하이닉스': 80000}

In [114]:
score ={}

In [115]:
type(score)

dict

In [116]:
score["김철호"] =100

In [117]:
score["김철호"]

100

In [118]:
score

{'김철호': 100}

In [119]:
type(score)

dict

In [120]:
len(score)

1

In [121]:
score["김철호"]

100

### 딕셔너리(dictionary) 확인

In [122]:
len(sec_price)

2

In [123]:
sec_price['삼성전자']

58000

In [124]:
score["박철호"]=10

In [125]:
score

{'김철호': 100, '박철호': 10}

In [126]:
del score["김철호"]

In [127]:
score

{'박철호': 10}

In [128]:
print(score)

{'박철호': 10}

### 딕셔너리에 데이터 삽입

In [129]:
#딕셔너리는 리스트의 append나 insert 같은 메서드를 지원하지 않음.. 
# 리스트와는 달리 Dictionary변수에 추가하고자하는 데이터에 대한 key와 value를 추가 입력하여야 함.

In [130]:
# naver 추가
sec_price['naver'] = 150000
sec_price

{'삼성전자': 58000, 'sk하이닉스': 80000, 'naver': 150000}

### 딕셔너리에 데이터 삭제

In [131]:
# 리스트와 마찬가지로 del을 사용 
del sec_price['sk하이닉스']

In [132]:
sec_price

{'삼성전자': 58000, 'naver': 150000}

### 딕셔너리로부터 key-value 구하기

In [133]:
# 딕셔너리에 있는 key 값만 구하는 경우
# key 값만 구하는 경우 : “딕셔너리이름.keys()”라고 호출 -->딕셔너리이름 다음에 마침표 하나 붙이고 keys()라고 적을 것!!
sec_price

{'삼성전자': 58000, 'naver': 150000}

In [134]:
sec_price['sk하이닉스'] = 80000

In [135]:
sec_price

{'삼성전자': 58000, 'naver': 150000, 'sk하이닉스': 80000}

In [136]:
# key 값 만 보는 경우
sec_price.keys()

dict_keys(['삼성전자', 'naver', 'sk하이닉스'])

In [137]:
# value 만 리스트로
price_list = list(sec_price.values())

In [138]:
price_list

[58000, 150000, 80000]

In [139]:
# 특정 값만 
sec_price['삼성전자']

58000

In [140]:
# 연습

In [141]:
## 다른 데이터 구조를 딕셔너리형으로 변환 dict( ) 
fruit_price =[['apple',3500],['peer',2500],['cherry',5000]] 
fruit_price=dict(fruit_price) 
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

## 세트 (Set)

### 세트 이해

In [142]:
# 집합 성격 데이터
# 중괄호 {} 이용
# 중괄호 안에 여러개 데이터인 경우 : 콤마 로 구분
# 데이터의 중복을 허용하지 않는다.!!!!
# 집합 성격이므로  연산관련 함수 제공 (합집합, 교집합 등)

### 세트와 리스트 비교

In [143]:
# 집합으로 만든 경우 : 중괄호 사용
stock_set= {'삼성전자', '하이닉스', 'naver'}
stock_set

{'naver', '삼성전자', '하이닉스'}

In [144]:
# 리스트로 만든 경우 : 대괄호 사용
stock_list= ['삼성전자', '하이닉스', 'naver']
stock_list

['삼성전자', '하이닉스', 'naver']

In [145]:
# set은 중복은 허용하지 않는다.
stock_set= {'삼성전자', '하이닉스', 'naver', '삼성전자'}
stock_set

{'naver', '삼성전자', '하이닉스'}

In [146]:
# 리스트로 만든 경우 : 중복을 허용한다.
stock_list= ['삼성전자', '하이닉스', 'naver','삼성전자']
stock_list

['삼성전자', '하이닉스', 'naver', '삼성전자']

### 세트 데이터 확인하기

In [147]:
# 데이터 추가하기
# 세트 명을 기입하고 add(추가할 데이터)

In [148]:
stock_set= {'삼성전자', '하이닉스', 'naver','카카오'}
stock_set

{'naver', '삼성전자', '카카오', '하이닉스'}

In [149]:
# 다른 세트에 데이터 업데이트 하기
# 다른 세트 명을 기입하고 update(추가할 데이터)

In [150]:
stock_set= {'삼성전자', '하이닉스', 'naver','카카오'}
stock_set1= {'카카오뱅크','신한지주'}

In [151]:
stock_set1

{'신한지주', '카카오뱅크'}

In [152]:
# 기존 stock_set 에 다른 데이터 set (stock_set1)을 추가하는 update
stock_set.update(stock_set1)
stock_set

{'naver', '삼성전자', '신한지주', '카카오', '카카오뱅크', '하이닉스'}

# 문자열

In [153]:
# 문자 길이 ()
# 단어 사이에 있는 공백도 하나의 문자로 간주
string  = 'hello world'
len(string)

11

In [154]:
# 문자열 인덱싱과 슬라이싱

In [155]:
# 슬라이싱(slice)’
# 원하는 문자열의 범위를 지정
# 소괄호(), 중괄호{}, 대괄호[]
#  대괄호 [ ]는 슬라이싱할 범위를 지정할 때 사용하는 기호

In [156]:
# 0은 시작 위치, 5는 끝 위치를 의미
# 시작과 끝을 구분하기 위해 그 사이에 콜론(:) 사용
string[0:5]

'hello'

In [157]:
# 시작위치 0 끝위치 7
string[0:7]

'hello w'

In [158]:
# 시작위치 6 끝위치 11
string[6:11]

'world'

In [159]:
# 시작위치 6 끝까지
string[6:]

'world'

In [160]:
# 시작위치 6 끝위치 뒤에서 2번째
string[6:-2]

'wor'

In [161]:
# 쉬어가기 l!!!!!
# string 정도만 입력한 상태에서 키보드의 탭(Tab) 키를 누르면 자동으로 변수명이 완성 --> 변수명이 긴 경우에 유용하게 활용
ansan_univ = 100

In [162]:
ansan_univ

100

In [163]:
# 문자열 자르기
#  split :  메서드(method) 지원
# 파이썬에서 문자열을 분리하고 싶을 때는 위 코드 split 메서드를 사용

In [164]:
stock  = "SK LG"

In [165]:
stock

'SK LG'

In [166]:
# split(' ')과 같이 작은따옴표 사이에 공백
stock.split(' ')

['SK', 'LG']

In [167]:
# 인덱스 값[0]을 사용해 리스트의 첫 번째 값
stock.split(' ')[0]

'SK'

In [168]:
# 출력 함수 : print
print(stock.split(' ')[0])

SK

In [169]:
# 문자열 합치기

In [170]:
meta = "META"
facebook = "FACEBOOK"

In [171]:
# 이름을 변수로 지정해두지 두지 않으면 문자열 객체를 사용할 때마다 두 문자열을 합치는 번거로운 작업이 필요-->  합쳐진 문자열을 다른 변수가 가리키게 해준다.
meta + facebook

'METAFACEBOOK'

In [172]:
# 공백을 표시하고 싶으면 작은따옴표('') 사이에 공백을 넣어서 표현
meta + ' ' +facebook

'META FACEBOOK'

# 날짜와 시간 설정¶

In [173]:
# datetime 패키지
# 날짜와 시간을 함께 저장하는 datetime 클래스
# 날짜만 저장하는 date 클래스, 
# 시간만 저장하는 time 클래스, 
# 시간 구간 정보를 저장하는 timedelta 클래스 등을 제공

In [174]:
import datetime as dt
x = dt.datetime.now()
print(x)

# now 클래스 메서드는 컴퓨터의 현재 시각을 datetime 클래스 객체로 만들어 반환한다. 
# datetime 클래스 객체는 다음과 같은 속성을 가진다.
# year: 연도
# month: 월
# day: 일
# hour: 시
# minute: 분
# second: 초
# microsecond: 마이크로초(micro seconds, 백만분의 일초)

2023-05-24 14:51:01.189033

In [175]:
import datetime as dt
x = dt.datetime.now()
x

datetime.datetime(2023, 5, 24, 14, 51, 1, 204575)

In [176]:
# 다음과 같은 메서드도 제공
# weekday: 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
# strftime: 문자열 반환
# date: 날짜 정보만 가지는 date 클래스 객체 반환
# time: 시간 정보만 가지는 time 클래스 객체 반환

In [177]:
x.weekday()

2

In [178]:
# 날짜
x.date()

datetime.date(2023, 5, 24)

In [179]:
# 시간
x.time()

datetime.time(14, 51, 1, 204575)