# 제어문(조건문, 반복문)

In [1]:
# 제어문(조건문, 반복문) :  조건문이나 반복문 처럼 프로그램 명령어가 기술된 순서대로 순차 수행하는 경우
# 제어문 : if, for, while

# 조건문 : 어떤 조건을 보고 코드를 수행하는 것 ==> if ,  if~else , if~elif ~ else
# 반복문 : 어떤 조건하에서 반복적으로 코드를 수행하는 것 ==> for,  while

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## if 조건문

### if 조건문  이해

In [3]:
# 특정 조건에 따라 코드 실행이 다르게 수행하는 조건문
# if :  조건문을 표현
# if 문의 끝에는 콜론(:)을 입력
# .if 문의 조건이 True일 때 실행되는 문장은 들여쓰기

In [4]:
# 사례

In [9]:
# "삼성전자의 현재가가 55,000원 이하이면 100주 매수"
# "삼성전자의 현재가가 80,000원 이상이면 100주 매도"

# if 문의 조건식이 참이므로 4칸의 공백으로 들여쓰기된 'print("Buy ")'이라는 문장이 실행
# 들여쓰기 : 들여쓰기를 통해 문장의 시작과 끝을 표시 --> 별도 들여쓰기 없이도 콜론(:)후 enter하면 들여쓰기가 됨.
# if 문의 조건식이 true이면 실행되고 false면 실행하지 않는다.

In [24]:
# 아래 사례 : True 경우

삼성전자_sec_price = 50000
if 삼성전자_sec_price <= 55000:
    print("Buy")

Buy

In [25]:
# 아래 사례 :False 경우
# if 문의 조건식이 true이면 실행되고 False면 실행하지 않는다.

삼성전자_sec_price = 70000
if 삼성전자_sec_price <= 55000:
    print("Buy")

### if ~ else 문

In [7]:
# if문은 조건문은 조건에 true이면 실행되고 false면 실행하지 않는다.
# 만일 ~ 참이면 (if) + ‘그렇지 않으면’(else) 라는 새로운 조건이 추가. 
# 즉, else는 if의 조건에 맞지 않을때 실행--> 즉, 조건문의 조건이 false이면 실행되고 true면 실행하지 않는다.

In [26]:
# 사례

# 삼성전자 가격이 55000 이하이면 Buy 100, 아니면 "Sell"을 출력
# 50000이므로 Buy 100 출력

삼성전자_sec_price = 50000
if 삼성전자_sec_price <= 55000:
        print("Buy")
else:
        print("Sell")

Buy

In [27]:
삼성전자_sec_price = 70000
# 삼성전자 가격이 55000 이하이면 Buy 100, 아니면 "Sell"을 출력
# 70000이므로 Sell 출력
if 삼성전자_sec_price <= 55000:
        print("Buy")
else:
        print("Sell")

Sell

### elif

In [10]:
# elif라는 것을 사용하면 여러 개의 조건을 검사해서 그 중에서 맘에 드는 것을 선택

In [12]:
# IF (조건 식1이 참이면) THEN
#                  문장1을 수행한다.
#           ELSE IF (조건 식2가 참이면) THEN
#                  문장2를 수행한다.
#           ELSE IF (조건 식3이 참이면) THEN
#                  문장3을 수행한다.
#           ....
#           ELSE IF (조건 식n이 참이면) THEN
#                  문장n을 수행한다.
#           ELSE
#                  문장n+1을 수행한다

In [28]:
삼성전자_sec_price = 45000
# 삼성전자 가격이 55000 이하이면 Buy 10, 또는 65000이상이면 Sell, 아니면 "관망"을 출력
# 45000이므로 Buy 100 출력
if 삼성전자_sec_price <= 55000:
        print("Buy 10")
elif 삼성전자_sec_price >= 65000:
        print("Sell")
else: 
        print("관망")

Buy 10

In [29]:
삼성전자_sec_price = 60000
# 삼성전자 가격이 55000 이하이면 Buy 10, 또는 65000이상이면 Sell, 둘다 아니면 "관망"을 출력
# 60000이므로 관망 출력
if 삼성전자_sec_price <= 55000:
        print("Buy")
elif 삼성전자_sec_price >= 65000: 
        print("Sell")
else: 
        print("관망")

관망

In [30]:
삼성전자_sec_price = 80000
# 삼성전자 가격이 55000 이하이면 Buy 10, 또는 65000이상이면 Sell, 둘다아니면 "관망"을 출력
# 80000이므로 Sell 출력
if 삼성전자_sec_price <= 55000:
        print("Buy")
elif 삼성전자_sec_price >= 65000:
        print("Sell")        
else: 
        print("관망")

Sell

### 이중 if : kospi 조건을 제약

In [31]:
# kospi  2200pt 이하 , 삼성전자 50000 이하 : 비중 확대
#  kospi  2400pt 이상 , 삼성전자 65000 이상 : 매도
# 둘다 아니면 비중유지
# kospi  2200pt 이하 , 삼성전자 50000 이하 이므로 비중 확대 출력
kospi = 2150
삼성전자_sec_price = 50000
if 삼성전자_sec_price <= 50000 and kospi<=2200:
        print("비중확대")
elif 삼성전자_sec_price >=65000 and  삼성전자_sec_price >= 2400:
        print("비중 축소")        
else: 
        print("비중 유지")

비중확대

In [32]:
# kospi  2200pt 이하 , 삼성전자 50000 이하 : 비중 확대
#  kospi  2400pt 이상 , 삼성전자 65000 이상  : 비중 축소
# 둘다 아니면 비중유지
# kospi  2400pt 이상 , 삼성전자 65000 이상  이므로 비중축소 출력
kospi = 2500
삼성전자_sec_price = 80000
if 삼성전자_sec_price <= 50000 and kospi<=2200:
        print("비중확대")
elif 삼성전자_sec_price >=65000 and  삼성전자_sec_price >= 2400:
        print("비중 축소")        
else: 
        print("비중 유지")

비중 축소

In [33]:
# kospi  2200pt 이하 , 삼성전자 50000 이하 : 비중 확대
#  kospi  2400pt 이상 , 삼성전자 65000 이상  : 비중 축소
# 둘다 아니면 비중유지
# 두가지 조건에 해당하지 않으므로 비중유지

kospi = 2300
삼성전자_sec_price = 58000
if 삼성전자_sec_price <= 50000 and kospi<=2200:
        print("비중확대")
elif 삼성전자_sec_price >=65000 and  삼성전자_sec_price >= 2400:
        print("비중 축소")        
else: 
        print("비중 유지")

비중 유지

# 반복문(for 문)

## 기본 이해

In [18]:
# 반복되는 경우 효율성 제고
# 특정 횟수만큼 반복 실행
# 자료를 순서대로 할당

# 작성 방법 ==> for [변수] in [변수 반복 하려는 인자] :
               # 들여쓰기 수행문

In [19]:
print(1)

1

In [20]:
print(2)

2

In [21]:
print(3)

3

In [34]:
# for 문을 사용하면 중복된 부분의 코드를 줄일 수 있어 프로그램을 빨리 작성할 수 있고 코드의 가독성도 향상 

# 작성 방법 ==> for [ 지정한 변수명] in [반복 인자] :
               # 들여쓰기 수행문

# for 문장 끝에 콜론(:)
# for 문에서 수행되는 문장은 들여쓰기.
# for () in : 리스트 안에 있는 각 값을 print()

for sample in [0, 1, 2, 3, 4, 5]:
    print(sample)

0
1
2
3
4
5

In [35]:
# 수행문이 sample 변수에 5를 더한 값
# sample 변수에 10을 더한 값을 new_sample에 담는다.

for sample in [0, 1, 2, 3, 4, 5]:
        new_sample = sample+10
        print(new_sample)

10
11
12
13
14
15

## for문 range 함수와 함께

In [25]:
# for문은 range라는 함수와 함께 많이 사용
# range 함수는 숫자(정수) 리스트를 자동으로 생성
# 정수 범위를 표현

In [36]:
range(1, 5)

range(1, 5)

In [37]:
# range(1, 10)을 list라는 키워드를 통해 리스트 객체로 변환
# 1부터 4까지 의 경우
list(range(1,5))

[1, 2, 3, 4]

In [38]:
# 만약 1부터 10까지 출력 
range(1, 11)

range(1, 11)

In [39]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
# for 변수 in range(시작숫자, 끝숫자)
for num in range(1,11) : 
    print(num)

1
2
3
4
5
6
7
8
9
10

In [41]:
 #range(숫자) : 0부터 입력한 숫자전까지 정수를 반환한다.
for num in range(3) :   
    print(num)

0
1
2

In [42]:
#range(숫자1,숫자2,숫자3) : 숫자1부터 숫자2 전까지 숫자3씩 증가하는 정수를 반환한다.
for num in range(1,30,3) :   
    print(num)

1
4
7
10
13
16
19
22
25
28

# 반복문(while 문)

In [35]:
# while 문은 반복해야 할 횟수가 특별히 정해지지 않고 어떤 조건을 충족하는 동안만 실행될 때 주로 사용
#for 문을 사용한 경우나 while 문을 사용한 경우의 결과는 동일 함.

In [36]:
# 0부터 10까지의 숫자 중에서 홀수만 화면에 출력하는 프로그램 구현 사례
# 나머지 값 : %
# 사칙연산 참고
num = 0
while num <= 10:
        if num % 2 == 1:
                print(num)
        num += 1

1
3
5
7
9

# 파이썬 함수(function)

## 함수란?

In [44]:
# 프로그램을 개발 과정에서 중복으로 사용되는 코드일 때
# 중복 코드를 재사용하고 싶을 때는 함수(function) 형태로 코드를 작성
# 입력값을 넣으면 원하는 출력값을 얻을 수 있음.--> 입력값을 연산을 통해 새로운 출력값을 얻을 수 있다.
# 입력값  --> 함수 --> 출력 값
# 내장함수, 외장함수

In [45]:
print("한국대학교")

한국대학교

In [46]:
for i in range(3):
    print("한국대학교")

한국대학교
한국대학교
한국대학교

## 함수 만들기

In [47]:
# def : 파이썬에서는 함수 만들 때 사용하는 키워드
# def : definition
# 함수의 기능과 연관된 적당한 함수명을 지정이 필요
# 함수라는 것은 처음에 한 번만 잘 만들어 두면 다음에는 호출하여 원하는 기능을 실행
# 실행 차례 : 함수 정의(선언)--> 함수 호출

In [43]:
# def 다음에  함수이름(인자)
# 두번째 줄에 들여쓰기 후 함수 본문

def print_school():
        print("한국대학교")

In [44]:
def print_school(n):
    for i in range(n):
        print("한국대학교")

In [45]:
print_school(1)

한국대학교

In [48]:
print_school(5)

한국대학교
한국대학교
한국대학교
한국대학교
한국대학교

# 파이썬 내장 함수
## https://docs.python.org/ko/3/library/functions.html

In [52]:
# 내장함수(Built-in Functions) 기본 제공
    
# abs()	len() dict () min () 등

In [49]:
# abs(x) : 정수형 또는 실수형 값을 입력받은 후 해당 값의 절댓값을 반환하는 함수

abs(-10)

10

In [50]:
# len() : 리스트, 튜플, 문자열, 딕셔너리 등을 입력받아 해당 객체의 원소 개수를 반환
len('한국대학교')

5

In [55]:
# list :문자열이나 튜플을 입력받은 후 리스트 객체로 만들고 해당 리스트를 반환
list('한국대학교')

['한', '국', '대', '학', '교']

In [56]:
# max : 입력값 중 최댓값을 반환
# min : 입력값 중 최소값을 반환

In [51]:
max(1,2,3,4,5)

5

In [52]:
min(1,2,3,4,5)

1

In [59]:
# sorted : 입력값을 정렬한 후 정렬된 결괏값을 ‘리스트’로 반환

In [53]:
sorted((4,3,1,5,0))

[0, 1, 3, 4, 5]

In [61]:
sorted(['c', 'b', "d",'a'])

['a', 'b', 'c', 'd']

In [62]:
sorted(['한국', '대학교', "컴공과"])

['대학교', '컴공과', '한국']