## 제어문

In [ ]:
# 조건문 : 어떤 조건을 보고 코드를 수행하는 것
# 반복문 : 어떤 조건하에서 반복적으로 코드를 수행하는 것
# 제어문(조건문, 반복문) :  조건문이나 반복문 처럼 프로그램 명령어가 기술된 순서대로 순차 수행하는 경우
# 제어문 : if, for, while

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 1. if 조건문

#### 1) if 조건문  이해

In [ ]:
# 특정 조건에 따라 코드 실행이 다르게 수행하는 조건문
# if :  조건문을 표현
# if 문의 끝에는 콜론(:)을 입력
# .if 문의 조건이 True일 때 실행되는 문장은 들여쓰기

In [ ]:
# "삼성전자의 현재가가 55,000원 이하이면 100주 매수"
# "삼성전자의 현재가가 80,000원 이상이면 100주 매도"

In [2]:
# if 문의 조건식이 참이므로 4칸의 공백으로 들여쓰기된 'print("Buy 100")'이라는 문장이 실행
# 들여쓰기 : 들여쓰기를 통해 문장의 시작과 끝을 표시
# if 문의 조건식이 true이면 실행되고 false면 실행하지 않는다.
# 아래 사례 : True 경우

삼성전자_sec_price = 50000
if 삼성전자_sec_price <= 55000:
    print("Buy 100")

Buy 100

In [6]:
# if 문의 조건식이 true이면 실행되고 False면 실행하지 않는다.
# 아래 사례 :False 경우

삼성전자_sec_price = 70000
if 삼성전자_sec_price <= 55000:
    print("Buy 100")

### 2) if ~ else 문

In [ ]:
# if문은 조건문은 조건에 true이면 실행되고 false면 실행하지 않는다.
# 만일 ~ 참이면 (if) + ‘그렇지 않으면’(else) 라는 새로운 조건이 추가. 
# 즉, else는 if의 조건에 맞지 않을때 실행--> 즉, 조건문의 조건이 false이면 실행되고 true면 실행하지 않는다.

In [7]:
삼성전자_sec_price = 50000
if 삼성전자_sec_price <= 55000:
        print("Buy 100")
else:
        print("Sell")

Buy 100

In [8]:
삼성전자_sec_price = 70000
if 삼성전자_sec_price <= 55000:
        print("Buy 10")
else:
        print("Sell")

Sell

#### 3) elif

In [ ]:
# elif라는 것을 사용하면 여러 개의 조건을 검사해서 그 중에서 맘에 드는 것을 선택

In [ ]:
# IF (조건 식1이 참이면) THEN
#                  문장1을 수행한다.
#           ELSE IF (조건 식2가 참이면) THEN
#                  문장2를 수행한다.
#           ELSE IF (조건 식3이 참이면) THEN
#                  문장3을 수행한다.
#           ....
#           ELSE IF (조건 식n이 참이면) THEN
#                  문장n을 수행한다.
#           ELSE
#                  문장n+1을 수행한다

In [48]:
삼성전자_sec_price = 45000
if 삼성전자_sec_price <= 55000:
        print("Buy 10")
elif 삼성전자_sec_price >= 65000 and  삼성전자_sec_price <= 65000:
        print("Sell")
else: 
        print("관망")

Buy 10

In [49]:
삼성전자_sec_price = 60000
if 삼성전자_sec_price <= 55000:
        print("Buy 10")
elif 삼성전자_sec_price > 65000 and  삼성전자_sec_price <= 65000:
        print("Sell")
        
else: 
        print("관망")

관망

In [50]:
삼성전자_sec_price = 80000
if 삼성전자_sec_price <= 55000:
        print("Buy 10")
elif 삼성전자_sec_price >=55000 and  삼성전자_sec_price <= 65000:
        print("관망")        
else: 
        print("Sell")

Sell

#### 4) 이중 if : kospi 조건을 제약

In [51]:
# kospi  2200pt 이하 , 삼성전자 50000 이하 : 비중 확대
#  kospi  2400pt 이상 , 삼성전자 65000 이상 : 매도

kospi = 2150
삼성전자_sec_price = 50000
if 삼성전자_sec_price <= 50000 and kospi<=2200:
        print("비중확대")
elif 삼성전자_sec_price >=65000 and  삼성전자_sec_price >= 2400:
        print("비중 축소")        
else: 
        print("비중 유지")

비중확대

In [52]:
kospi = 2500
삼성전자_sec_price = 80000
if 삼성전자_sec_price <= 50000 and kospi<=2200:
        print("비중확대")
elif 삼성전자_sec_price >=65000 and  삼성전자_sec_price >= 2400:
        print("비중 축소")        
else: 
        print("비중 유지")

비중 축소

In [53]:
kospi = 2300
삼성전자_sec_price = 58000
if 삼성전자_sec_price <= 50000 and kospi<=2200:
        print("비중확대")
elif 삼성전자_sec_price >=65000 and  삼성전자_sec_price >= 2400:
        print("비중 축소")        
else: 
        print("비중 유지")

비중 유지

### 2. 반복문(for 문)

#### 1) 기본 이해

In [ ]:
# 반복되는 경우 효율성 제고
# 특정 횟수만큼 반복 실행
# 자료를 순서대로 할당

# 작성 방법 ==> for [변수] in [변수 반복 하려는 인자] :
               # 들여쓰기 수행문

In [22]:
print(1)

1

In [23]:
print(2)

2

In [24]:
print(3)

3

In [30]:
# for 문을 사용하면 중복된 부분의 코드를 줄일 수 있어 프로그램을 빨리 작성할 수 있고 코드의 가독성도 향상 

# 작성 방법 ==> for [ 지정한 변수명] in [반복 인자] :
               # 들여쓰기 수행문

# for 문장 끝에 콜론(:)
# for 문에서 수행되는 문장은 들여쓰기.
# for () in : 리스트 안에 있는 각 값을 print()

for a in [0, 1, 2, 3, 4, 5]:
        print(a)

0
1
2
3
4
5

In [58]:
# 수행문이 a 변수에 5를 더한 값
# a 변수에 10을 더한 값을 new_a에 담는다.

for a in [0, 1, 2, 3, 4, 5]:
        new_a = a+10
        print(new_a)

10
11
12
13
14
15

In [31]:
for a in [0, 1, 2, 3, 4, 5]:
        print(a)
        print(a)

0
0
1
1
2
2
3
3
4
4
5
5

#### 2) for문 range 함수와 함께

In [ ]:
# for문은 range라는 함수와 함께 많이 사용
# range 함수는 숫자(정수) 리스트를 자동으로 생성
# 정수 범위를 표현

In [33]:
range(1, 5)

range(1, 5)

In [34]:
# range(1, 10)을 list라는 키워드를 통해 리스트 객체로 변환
# 1부터 4까지 의 겨우
list(range(1,5))

[1, 2, 3, 4]

In [36]:
# 만약 1부터 10까지 출력 
range(1, 11)

range(1, 11)

In [37]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
# for 변수 in range(시작숫자, 끝숫자)
for num in range(1,11) : 
    print(num)

1
2
3
4
5
6
7
8
9
10

In [66]:
for abc in range(1,11) : 
    print(abc)

1
2
3
4
5
6
7
8
9
10

In [62]:

for a in list(range(1, 11)):
        print(a)

1
2
3
4
5
6
7
8
9
10

In [68]:
 #range(숫자) : 0부터 입력한 숫자전까지 정수를 반환한다.
for num in range(3) :   
    print(num)

0
1
2

In [70]:
#range(숫자1,숫자2,숫자3) : 숫자1부터 숫자2 전까지 숫자3씩 증가하는 정수를 반환한다.
for num in range(1,30,3) :   
    print(num)

1
4
7
10
13
16
19
22
25
28

## 3. 반복문(while 문)

In [ ]:
# while 문은 반복해야 할 횟수가 특별히 정해지지 않고 어떤 조건을 충족하는 동안만 실행될 때 주로 사용
#for 문을 사용한 경우나 while 문을 사용한 경우의 결과는 동일 함.

In [1]:
# 0부터 10까지의 숫자 중에서 홀수만 화면에 출력하는 프로그램 구현 사례
# 나머지 값 : %
# 사칙연산 참고
num = 0
while num <= 10:
        if num % 2 == 1:
                print(num)
        num += 1

1
3
5
7
9

0

## Boolean

In [ ]:
# --> True 또는 False라는 값만 바인딩
# bool :  Boolean의 줄임말
# 사용 : 어떤 두 값을 비교하는 데 사용되는 비교 연산자에서 많이 사용

# 파이썬 비교 연산자
#  == 같다.
# != 다르다.
# >크다. < 작다.
# >= 크거나 같다.  <= 작거나 같다.

In [1]:
10 == 10

True

In [2]:
10!= 10

False

In [3]:
10 > 10

False

In [ ]:
10 <= 10

## 논리 연산자

In [ ]:
# 논리연산은 다음의 경우 사용
# 예를들어 '둘중 하나가 참이면 참이다', '둘다 참(true) 이면 이 조건문은 참(true)이다' 처럼.조건문이 True 인지? False인지? 판단하는 것
#  and, or, not
# and :  ‘그리고’
# or : ‘또는’
# not :‘~아닌’이라는 의미로 A가 거짓이라면 참(True)를 반환하고 A가 참이라면 거짓(False)를 반환

In [ ]:
d1 = 100000
d2 = 130000
((d2- d1) == (d1 * 0.3)) or ((d2-d1) > (d1 * 0.29))

## 파이썬 함수(function)

#### 1) 함수란?

In [ ]:
# 프로그램을 개발 과정에서 중복으로 사용되는 코드일 때
# 중복 코드를 재사용하고 싶을 때는 함수(function) 형태로 코드를 작성
# 입력값을 넣으면 원하는 출력값을 얻을 수 있음.--> 입력값을 연산을 통해 새로운 출력값을 얻을 수 있다.
# 입력값  --> 함수 --> 출력 값

In [3]:
print("안산대학교")

안산대학교

In [4]:
for i in range(3):
    print("안산대학교")

안산대학교
안산대학교
안산대학교

#### 2) 함수 만들기

In [ ]:
# def : 파이썬에서는 함수 만들 때 라는 키워드
# def : definition
# 함수의 기능과 연관된 적당한 함수명을 지정이 필요
# 함수라는 것은 처음에 한 번만 잘 만들어 두면 다음에는 호출하여 원하는 기능을 실행
# 실행 차례 : 함수 정의(선언)--> 함수 호출

In [5]:
# def 다음에  함수이름(인자)
# 두번째 줄에 들여쓰기 후 함수 본문

def print_school():
        print("안산대학교")

In [13]:
def print_school(n):
    for i in range(n):
        print("안산대학교")

In [14]:
print_school(1)

안산대학교

In [15]:
print_school(5)

안산대학교
안산대학교
안산대학교
안산대학교
안산대학교

# 파이썬 내장 함수

In [ ]:
 # 내장 함수(Built-in Functions) 기본 제공
# https://docs.python.org/ko/3/library/functions.html
    
# abs()	len() dict () min () 등

In [18]:
# abs(x) : 정수형 또는 실수형 값을 입력받은 후 해당 값의 절댓값을 반환하는 함수

abs(-10)

10

In [19]:
# len() : 리스트, 튜플, 문자열, 딕셔너리 등을 입력받아 해당 객체의 원소 개수를 반환
len('안산대학교')

5

In [20]:
# list :문자열이나 튜플을 입력받은 후 리스트 객체로 만들고 해당 리스트를 반환
list('안산대학교')

['안', '산', '대', '학', '교']

In [ ]:
# max : 입력값 중 최댓값을 반환
# min : 입력값 중 최소값을 반환

In [21]:
max(1,2,3,4,5)

5

In [22]:
min(1,2,3,4,5)

1

In [ ]:
# sorted : 입력값을 정렬한 후 정렬된 결괏값을 ‘리스트’로 반환

In [23]:
sorted((4,3,1,5,0))

[0, 1, 3, 4, 5]

In [25]:
sorted(['c', 'b', "d",'a'])

['a', 'b', 'c', 'd']

In [2]:
sorted(['서울', '대학교', "컴공과"])

['대학교', '서울', '컴공과']